/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* @import '../styles/responsive.scss'; */

.homePage {
    display: flex;
    height: 100%;

    .textContainer {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;


            @media(max-width:1024px){
                padding: 0;
            }
            /* @include md {
                padding: 0;
            } */
            @media(max-width:738px){
                justify-content: flex-start;
            }

            /* @include sm {
                justify-content: flex-start;
            } */


            .title {
                font-size: 64px;
                /* @include lg {
                    font-size: 48px;
                } */
                @media(max-width:1366px){
                    font-size: 48px;
                }
            }

            .boxes{
                display: flex;
                justify-content: space-between;

                /* @include sm {
                   
                } */
                @media(max-width:738px){ 
                    display: none;
                }

                h1{
                    font-size: 36px;

                    /* @include lg {
                      
                    } */
                    @media(max-width:1366px){
                         width: 32px;
                    }
                }
                h2{
                    font-size: 20px;
                    font-weight:300 ;
                }
            }
        }
    }
    .imgContainer{
        flex: 2;
        /* background-color: #fcf5f3; */
        position: relative;
        display: flex;
        align-items: center;


        @media(max-width:1024px){
            display: none;
        }
        /* @include md{
            
        } */

        img{
            width: 115%;
            position: absolute;
            right: 0;

            @media(max-width:1366px){
                 width: 105%;
            }
            /* @include lg {
               
            } */
        }
    }
}
